body {
    background-color: rgb(0, 0, 0);
    align-items: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    size: 75px;
}

p {
    color: rgb(238, 255, 0);
    margin-left: 20px;
    /* text-align: center; */
}

h1 {
    color: rgb(0, 255, 0);
    margin-left: 20px;
    /* text-align: center; */
}

h2 {
    color: rgb(0, 255, 0);
    margin-left: 20px;
    /* text-align: center; */
}

h3 {
    color: rgb(0, 255, 0);
    margin-left: 20px;
}

h4 {
    color: rgb(0, 255, 0);
    margin-left: 20px;
}

h5 {
    color: rgb(251, 255, 0);
    margin-left: 20px;
    text-align: center;
}

h6 {
    color: rgb(255, 251, 0);
    margin-left: 20px;
    text-align: center;
}

button {
    background-color: #00ff08;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.t {
    background-color: #00ff08;
    border: none;
    color: rgb(0, 0, 0);
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.t.selected {
    background-color: #000000;
    color: rgb(102, 255, 0)
}

@media (min-width: 650px) {
    .t:hover {
        background-color: #000000;
        color: rgb(0, 255, 34)
    }
}

@media (max-width: 650px) {
    .t {
        display: block;
    }
}

* {
    box-sizing: border-box;
}

/* body {
    font-family: Arial, Helvetica, sans-serif;
} */


/* Float four columns side by side */

.column {
    float: right;
    width: 50%;
    padding: 10px 75px;


}

.maincolumn {
    float: left;
    width: 100%;
    padding: 10px 350px;
}

.headcolumn {
    float: left;
    width: 100%;
    padding: 10px 150px;
}
/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card {
    border-style: solid;
    border-color: #00ff08;
    padding: 16px;
    text-align: center;
    background-color: #000000;
    align-items: center;
    border-radius: 25px;
}
.maincard {
    border-style: solid;
    border-color: #00ff08;
    padding: 16px;
    text-align: center;
    background-color: #000000;
    align-items: center;
    border-radius: 25px;
}

.headcard {
    padding: 16px;
    text-align: center;
    background-color: #000000;
    align-items: center;
}
.head{
    display: inline-block;
  }