body {
    background-color: rgb(0, 0, 0);
    align-items: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    size: 75px;
}

p {
    color: rgb(238, 255, 0);
    margin-left: 20px;
    text-align: center;
}

h1 {
    color: rgb(0, 255, 0);
    margin-left: 20px;
}

h2 {
    color: rgb(0, 255, 0);
    margin-left: 20px;
}

h3 {
    color: rgb(0, 255, 0);
    margin-left: 20px;
}

h4 {
    color: rgb(0, 255, 0);
    margin-left: 20px;
}

h5 {
    color: rgb(251, 255, 0);
    margin-left: 20px;
    text-align: center;
}

h6 {
    color: rgb(255, 251, 0);
    margin-left: 20px;
    text-align: center;
}

#apr{
    color: rgb(255, 251, 0);
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
}

input {
    background-color: #00ff08;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button {
    background-color: #00ff08;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#wally {
    height: 120px;
}

span {
    font-weight: bold;
}

#visible-scrollbar {
    height: 50px;
    width: 75%;
    padding-left: 100px;
    overflow-y: scroll;
}

#appbtn {
    height: 100px;

}

a:link {
    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 0);
    font-weight: bold;
}

#walletHeight {
    height: 77px;
    overflow: hidden;
}

#visible-scrollbar::-webkit-scrollbar {
    width: 0 !important
}

.t {
    background-color: #00ff08;
    border: none;
    color: rgb(0, 0, 0);
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.t.selected {
    background-color: #000000;
    color: rgb(102, 255, 0)
}

@media (min-width: 650px) {
    .t:hover {
        background-color: #000000;
        color: rgb(0, 255, 34)
    }
    button:hover {
        background-color: #000000;
        color: rgb(0, 255, 34)
    }
}

@media (max-width: 650px) {
    .t {
        display: block;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', monospace;
}


/* Float four columns side by side */

.column {
    float: right;
    width: 50%;
    padding: 15px 60px;
}

.maincolumn {
    float: left;
    width: 100%;
    padding: 10px 350px;
}

.headcolumn {
    float: left;
    width: 100%;
    padding: 10px 10px;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card {
    border-style: solid;
    border-color: #00ff08;
    padding: 16px;
    text-align: center;
    background-color: #000000;
    align-items: center;
    border-radius: 25px;
}

.maincard {
    border-style: solid;
    border-color: #00ff08;
    padding: 16px;
    text-align: center;
    background-color: #000000;
    align-items: center;
    border-radius: 25px;
}

.headcard {
    padding: 16px;
    text-align: center;
    background-color: #000000;
    align-items: center;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.calculateTokens {
    position: relative;
}

.showAccount {
    font-weight: bold;
}